
  <div class="sidebar">
    <div class="logo-details">
   <img src="/img/Logos/BLANCO.png" alt="" class="icon">
        <div class="logo_name">CEA</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="search" placeholder="Buscar...">
         <span class="tooltip">Buscar</span>
      </li>
      <li>
        <a href="#" >
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Inicio</span>
        </a>
         <span class="tooltip">Inicio</span>
      </li>
      
     <li>
       <a href="#">
         <i class='bx bx-info-circle' ></i>
         <span class="links_name">Asignaciones</span>
       </a>
       <span class="tooltip">Asignaciones</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-history' ></i>
         <span class="links_name">Historial</span>
       </a>
       <span class="tooltip">Historial</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Ajustes</span>
       </a>
       <span class="tooltip">Ajustes</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="profile.jpg" alt="profileImg">
           <div class="name_job">
             <div class="name"><span id="profileName"></span></div>
             <div class="job"><span id="rolUser"></span></div>
           </div>
         </div>
         <a href="">
         <i class='bx bx-log-out' id="log_out" ></i>
        </a>
     </li>
    </ul>
  </div>