<title> Iniciar Sesion</title>
<link rel="stylesheet" href="/css/login.css">

<body>
    <main class="contenedor">
        <section class="left">
            <h1>Bienvenido nuevamente</h1>
            <p>Da gusto tenerte de nuevo por aqui, llena los campos y empieza  a usar la app.</p>
            <img src="/img/login.png" alt="logo">
        </section>
        <section class="right">
            <h2>Iniciar Sesion</h2>

            <div class="wave-group">
                <form>
                <input required="" type="text" class="input" name="correo">
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">C</span>
                  <span class="label-char" style="--index: 1">o</span>
                  <span class="label-char" style="--index: 2">r</span>
                  <span class="label-char" style="--index: 3">r</span>
                  <span class="label-char" style="--index: 4">e</span>
                  <span class="label-char" style="--index: 5">o</span>
                  <span class="label-char" style="--index: 6"></span>
                </label>
              </div>
              <div class="wave-group">
                <input required="" type="text" class="input" name="clave"> 
                <span class="bar"></span>
                <label class="label">
                    <span class="label-char" style="--index: 0">C</span>
                  <span class="label-char" style="--index: 1">o</span>
                  <span class="label-char" style="--index: 2">n</span>
                  <span class="label-char" style="--index: 3">t</span>
                  <span class="label-char" style="--index: 4">r</span>
                  <span class="label-char" style="--index: 5">a</span>
                  <span class="label-char" style="--index: 6">s</span>
                  <span class="label-char" style="--index: 7">e</span>
                  <span class="label-char" style="--index: 8">ñ</span>
                  <span class="label-char" style="--index: 9">a</span>
                </label>
              </div>
              <p><a href="#">¿olvidaste tu contraseña?</a></p>
              <button type="submit" class="button"  id="sendForm">Entrar</button>
            </form>
              <footer>
                <hr>
                <p>Hecho por SolutionCode | Aeronautica Civil de Colombia todos los derechos reservados | Deimos v1.0</p>
              </footer>

        </section>
    </section>
</body>


<script>
  const d =  document;
  const formLogin = d.querySelector('form');

  async function Login (data,id) {
  const res = await fetch('/' , {
    method: 'POST',
    headers : {
      "Content-Type" : "application/json", 
    },
    body:JSON.stringify(data)
  });
  const resJson = await res.json();
  if(resJson.status === 200){
    const Token  = localStorage.setItem('Token' , resJson.token);
    const usuario  = localStorage.setItem('Usuario' , resJson.dates.usuario);
    const id  = localStorage.setItem('id' , resJson.idUsuario);
    const rol  = localStorage.setItem('rol' , resJson.dates.rol);

    location.href = `/users/inicio`

  }else(
    console.log('Error de autenticación')
  );


}
  d.addEventListener('submit' , (e) => {
    e.preventDefault();
    const correo = e.target.correo.value;
    const clave = e.target.clave.value
    console.log(correo , clave);
    data = {
      correo,
      clave
    };
    Login(data);
  });
</script>