<title> Formularios</title>
<link rel="stylesheet" href="/css/actividades.css">

<body>
  <div class="sidebar">
    <div class="logo-details">
   <img src="img/Logos/BLANCO.png" alt="" class="icon">
        <div class="logo_name">CEA</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="search" placeholder="Buscar...">
         <span class="tooltip">Buscar</span>
      </li>
      <li>
        <a href="#" >
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Inicio</span>
        </a>
         <span class="tooltip">Inicio</span>
      </li>
     <li>
       <a href="#">
         <i class='bx bx-info-circle' ></i>
         <span class="links_name">Asignaciones</span>
       </a>
       <span class="tooltip">Asignaciones</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-history' ></i>
         <span class="links_name">Historial</span>
       </a>
       <span class="tooltip">Historial</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Ajustes</span>
       </a>
       <span class="tooltip">Ajustes</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="profile.jpg" alt="profileImg">
           <div class="name_job">
             <div class="name">Jhoann Zamudio</div>
             <div class="job">Inspector</div>
           </div>
         </div>
         <a href="">
         <i class='bx bx-log-out' id="log_out" ></i>
        </a>
     </li>
    </ul>
    
  </div>
  <section class="home-section">
      <header>
        <p>Empresa Avianca</p>
        <div class="hora">
            <span>19 de abril de 2024, </span>
            <span>12:30 pm</span>
        </div>
      </header>


      <main>
        <h3>Actividades:  </h3>

        <section class="panel">
           
        </section>
      </main>

  

      <footer>
        <p>Hecho por SolutionCode grupo de desarroladores de Sotfware | Aeronautica Civil de Colombia | Deimos v1.0</p>
      </footer>
  </section>

  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }

    const d = document;
    const panel = d.querySelector('.panel');
    d.addEventListener('DOMContentLoaded' , async  (e) => {
    const Token  = localStorage.getItem('Token');
    const id = localStorage.getItem('id');
    const data = await  getFormats(Token,id);
    const formatos = data.data.formatos[0];
    const formularios = data.data.formularios[0];
  console.log(formatos[0].nombre)

    for(const formato of formatos){

         let FormatosHtml = `
             <div class="box">
                <p>${formato.nombre}</p>
                 <ul class = formato${formato.id_formato}> 
                </ul>
                <button class="button">Llenar formulario</button>
            </div>
             `

             panel.innerHTML = FormatosHtml;
    }

     for(const formulario of formularios){

        let li = d.createElement("li");
        li.classList.add(`${formulario.id_formulario}`)
        li.innerHTML = ` <a href="/forms/orp/status/1/1"> ${formulario.nombre} </a>`
        const formatoId = `.formato${formulario.formato_id}`
        const formato = d.querySelector(formatoId)
        formato.appendChild(li);
    }
  });

  async function getFormats(token,id){
      try{
        const data = {
          user:id,
          company:1
        }
        let res = await fetch( 'formatos', {
          method : 'POST',
          headers:{
            'Content-Type' : 'application/json',
          },
          body: JSON.stringify(data),
        });
        let resJson = await res.json();
        return resJson;
      }catch(error){
          console.log(error);
      }
  }
  </script>
</body>