<title>Formulario VF tool book1</title>
<link rel="stylesheet" href="/css/vf.css">

<body>
  <div class="sidebar">
    <div class="logo-details">
      <img src="/img/Logos/BLANCO.png" alt="" class="icon">
      <div class="logo_name">CEA</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="search" placeholder="Buscar...">
        <span class="tooltip">Buscar</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Inicio</span>
        </a>
        <span class="tooltip">Inicio</span>
      </li>

      <li>
        <a href="/">
          <i class='bx bx-info-circle'></i>
          <span class="links_name">Asignaciones</span>
        </a>
        <span class="tooltip">Asignaciones</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="links_name">Historial</span>
        </a>
        <span class="tooltip">Historial</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Ajustes</span>
        </a>
        <span class="tooltip">Ajustes</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name">Jhoann Zamudio</div>
            <div class="job">Inspector</div>
          </div>
        </div>
        <a href="">
          <i class='bx bx-log-out' id="log_out"></i>
        </a>
      </li>
    </ul>

  </div>
  <section class="home-section">
    <header>
      <p>Formulario VF tool book 1</p>
      <div class="hora">
        <span>19 de abril de 2024, </span>
        <span>12:30 pm</span>
      </div>
    </header>


    <main>
      <h3>Perfil de riesgo de la organizacion (ORP)</h3>
      <P class="informacion">Resultados de la columna: Desde el menu desplegable, seleccione segun el nivel “1”, “2”,
        “3” o “NA” de acuerdo a la evaluacion del responsable de efectuarla</P>

      <section class="form">
        <ul class="ul">
          <li class="li activo" id="uno">1</li>
          <li class="li">2</li>
          <li class="li">3</li>
          <li class="li">4</li>
          <li class="li">5</li>
          <li class="li">6</li>
          <li class="li">7</li>
          <li class="li">8</li>
          <li class="li">9</li>
          <li class="li">10</li>
          <li class="li">11</li>
          <li class="li">12</li>
          <li class="li">13</li>
          <li class="li">14</li>
          <li class="li">15</li>
          <li class="li">16</li>
          <li class="li">17</li>
          <li class="li">18</li>
          <li class="li">19</li>
          <li class="li">20</li>
          <li class="li">21</li>
          <li class="li">22</li>
          <li class="li">23</li>
          <li class="li">24</li>
          <li class="li">25</li>
          <li class="li">26</li>
          <li class="li">27</li>
          <li class="li">28</li>
          <li class="li">29</li>
          <li class="li">30</li>
          <li class="li">31</li>
          <li class="li">32</li>
          <li class="li">33</li>
          <li class="li">34</li>
          <li class="li">35</li>
          <li class="li">36</li>
        </ul>
        <div class="subcontenedor">
          <form action="1" method="post">
            <div class="bloque activo">
              <div class="left">
                <h1>Párametros de riesgo de la organización</h1>
                <p>Percepcion operacional en general: Cumplimiento operacional: Cuantas operaciones de las programadas se han cancelado por razones operacionales internas del explotador o fallas tecnicas.</p>
                <div class="custom-select">
                  <select>
                    <option>Resultado: Nivel</option>
                    <option>Nivel 1</option>
                    <option>Nivel 2</option>
                    <option>Nivel 3</option>
                    <option>NA</option>
                  </select>
                  <div class="select-arrow"></div>
                </div>

                <div class="puntaje">
                  <div class="peso">
                    <h4>Peso: <span>1,19</span></h4>
                  </div>
                  <div class="puntos">
                    <h4>Puntaje: <span>2,38</span></h4>
                  </div>
                </div>

                <h4>Observaciones:</h4>
                <textarea name="" id="" cols="30" rows="10"></textarea>


              </div>
              <div class="right">
                <div class="niveles">
                  <div class="box">
                    <h4>Nivel 3 (Menos deseable)</h4>
                    <p>El explotador ha cumplido menos del 80% de las operaciones programadas</p>
                  </div>
                  <div class="box">
                    <h4>Nivel 2 (Promedio)</h4>
                    <p>El explotador de servicios aereos mantiene un buen promedio de cumplimiento, entre el 80% y 90%.
                    </p>
                  </div>
                  <div class="box">
                    <h4>Nivel 1 (Más deseable)</h4>
                    <p>El explotador de servicios aereos mantiene un cumplimiento deseable mayor al 90%</p>
                  </div>
                </div>
                <div class="botones-form">
                  <button type="submit"><i class='bx bx-save' id="log_out"></i> Guardar</button>
                  <button type="submit">Siguiente <i class='bx bx-right-arrow-circle' id="log_out"></i></button>
                </div>
              </div>
            </div>
          </form>

        <form action="2" method="post">
          <div class="bloque">
            <div class="left">
              <h1>Párametros de riesgo de la organización 2</h1>
              <p>Percepcion operacional en general: Cumplimiento operacional: Cuantas operaciones de las programadas
                se
                han cancelado por razones operacionales internas del explotador o fallas tecnicas.</p>
              <div class="custom-select">
                <select>
                  <option>Resultado: Nivel</option>
                  <option>Nivel 1</option>
                  <option>Nivel 2</option>
                  <option>Nivel 3</option>
                  <option>NA</option>
                </select>
                <div class="select-arrow"></div>
              </div>

              <div class="puntaje">
                <div class="peso">
                  <h4>Peso: <span>1,19</span></h4>
                </div>
                <div class="puntos">
                  <h4>Puntaje: <span>2,38</span></h4>
                </div>
              </div>

              <h4>Observaciones:</h4>
              <textarea name="" id="" cols="30" rows="10"></textarea>


            </div>
            <div class="right">
              <div class="niveles">
                <div class="box">
                  <h4>Nivel 3 (Menos deseable)</h4>
                  <p>El explotador ha cumplido menos del 80% de las operaciones programadas</p>
                </div>
                <div class="box">
                  <h4>Nivel 2 (Promedio)</h4>
                  <p>El explotador de servicios aereos mantiene un buen promedio de cumplimiento, entre el 80% y 90%.
                  </p>
                </div>
                <div class="box">
                  <h4>Nivel 1 (Más deseable)</h4>
                  <p>El explotador de servicios aereos mantiene un cumplimiento deseable mayor al 90%</p>
                </div>
              </div>
              <div class="botones-form">
                <button type="submit"><i class='bx bx-save' id="log_out"></i> Guardar</button>
                <button type="submit">Siguiente <i class='bx bx-right-arrow-circle' id="log_out"></i></button>
              </div>
            </div>
          </div>
        </form>
        <div class="bloque">
          <ul>
            {{#each allDates}}
            <li>{{parametro}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="bloque">4</div>
        <div class="bloque">5</div>
        <div class="bloque">6</div>
        <div class="bloque">7</div>
        <div class="bloque">8</div>
        <div class="bloque">9</div>
        <div class="bloque">10</div>
        <div class="bloque">11</div>
        <div class="bloque">12</div>
        <div class="bloque">13</div>
        <div class="bloque">14</div>
        <div class="bloque">15</div>
        <div class="bloque">16</div>
        <div class="bloque">17</div>
        <div class="bloque">18</div>
        <div class="bloque">19</div>
        <div class="bloque">20</div>
        <div class="bloque">21</div>
        <div class="bloque">22</div>
        <div class="bloque">23</div>
        <div class="bloque">24</div>
        <div class="bloque">25</div>
        <div class="bloque">26</div>
        <div class="bloque">27</div>
        <div class="bloque">28</div>
        <div class="bloque">29</div>
        <div class="bloque">30</div>
        <div class="bloque">31</div>
        <div class="bloque">32</div>
        <div class="bloque">33</div>
        <div class="bloque">34</div>
        <div class="bloque">35</div>
        <div class="bloque">36</div>
        </div>

      </section>
    </main>



  </section>



  <script>
    'use strict'

    const li = document.querySelectorAll('.li')
    const bloque = document.querySelectorAll('.bloque')

    // CLICK en li
    // TODOS .li quitar la clase activo
    // TODOS .bloque quitar la clase activo
    // .li con la posicion se añadimos la clase activo
    // .bloque con la posicion se añadimos la clase activo

    // Recorriendo todos los LI
    li.forEach((cadaLi, i) => {
      // Asignando un CLICK a CADALI
      li[i].addEventListener('click', () => {

        // Recorrer TODOS los .li
        li.forEach((cadaLi, i) => {
          // Quitando la clase activo de cada li
          li[i].classList.remove('activo')
          // Quitando la clase activo de cada bloque
          bloque[i].classList.remove('activo')
        })

        // En el li que hemos click le añadimos la clase activo
        li[i].classList.add('activo')
        // En el bloque con la misma posición le añadimos la clase activo
        bloque[i].classList.add('activo')

      })
    })
  </script>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>
</body>
